name: Create release
on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: |
          go env -w CGO_ENABLED=0 GOFLAGS="-ldflags=-w -trimpath"
          GOOS=linux GOARCH=amd64 go build -o secretexec.amd64
          GOOS=linux GOARCH=arm64 go build -o secretexec.arm64
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref }} secretexec.a*64
